$background: #090920;
$cyan: #27CEAF;
$pink: #D800DB;
$blue: #3F38FF;
$light-blue: #00D1FF;
$violet: #88e;
$text: #FFF;

$roundness: 20rem;

$h1: 90rem/1.15 'Poppins', sans-serif; 
$span: 110rem/1.15 'Poppins', sans-serif;
$h2: 60rem/1.15 'Poppins', sans-serif;
$h3: clamp(17px, 1.5vmax, 45px) 'Poppins', sans-serif; //30
//$p: clamp(12px, 1.4vh, 2.6vmin) 'Inter', sans-serif; //15
$p: clamp(12px, 0.8vw, 25px) 'Inter', sans-serif; //15
$button: clamp(35px, 2vmax, 65px) 'Inter', sans-serif; //45
$list: clamp(15px, 1vmax, 30px) 'Inter', sans-serif; //20
//$list: clamp(15px, 1.8vh, 3vmin) 'Inter', sans-serif; //20


$padding: 25rem;

:root { --nav-height: clamp(-120px, -4vmax, -65px); }
$navbar-height: clamp(65px, 4vmax, 120px); //80
//:root { --nav-height: clamp(-12vmin, -7.1vh, -65px); }
//$navbar-height: clamp(65px, 7.1vh, 12vmin);; //80

$shadow: 0 0 20rem rgba(0, 0, 0, 0.25);

:root {
    //font-size: 1px;
    font-size: calc((100vw / 1920 + 100vh / 1080) / 2);
    color-scheme: dark;
}

* {
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, p, li {
    color: $text;
    padding: 0;
}

p { font: $p; }

h1 { font: $h1; }

h2 { font: $h2; }

h3 { font: $h3; }

li { font: $list }; 

ul { padding-inline-start: 40rem; }

html {
    min-height:100%;
    position:relative;
    scroll-behavior: smooth;
    overflow-x: clip;
    /*scrollbar-width: normal;
    scrollbar-color: #fff3 $background;*/
}

body {
    margin: 0;
    background-color: $background;
    overflow-x: clip;
    max-height: 100%;
}

i {
    font-size: 70rem;
    color: black;
}


button, .navbar a, .arrow, .navbar i {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: $navbar-height;
    display: grid;
    place-items: center;
    grid-template-columns: 20% 1fr 1fr 1fr 1fr 1fr 20%;
    transition: 0.6s ease-out;
    -webkit-backdrop-filter: blur(15rem);
            backdrop-filter: blur(15rem);
    z-index: 90;


    //border-bottom:1rem solid rgba($cyan, 0.2);

    background-color: transparent;

    img, i {
        height: calc($navbar-height * 0.6);
        font-size: calc($navbar-height * 0.6);
    }

    
    a {
        font: $h3;
        color: $text;
        text-decoration: none;
        display: inline;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10rem;
        z-index: 10;
    }

    & > a {

        &.active {
            text-decoration: underline;
            text-underline-offset: 5rem;
        }

        &:hover {
            font-weight: 550;
            background-color: rgba($cyan, 0.2);
        }
    }

    .menu-phone {
        display: none;
        /*height: 100%;
        width: 100%;*/

        i {
            color: #FFF;
            cursor: pointer;
        }
        .menu {
            display: flex;
            flex-direction: column;
            padding: 5rem;
            gap: 5rem;
            background-color: rgba($background, 0.7);
            position: absolute;
            right: 0;
            top: $navbar-height;
            width: 33%;
            a {
                padding: 25rem;
                min-width: 150rem;

                &:hover {
                    background-color: rgba($cyan, 0.2);
                }
            }
        }

    }
}

@media screen and (max-aspect-ratio: 1.2/1) {
    .navbar {
        .pc {
            display: none;
        }
        grid-template-columns: 1fr 1fr 1fr;
        .menu-phone {
            display: inline;
        }
    }
}

.filter {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background:
        url("../global/Random_static.webp");
        //linear-gradient(rgba(#000, 0.01));
    background-repeat: repeat;
    -webkit-backdrop-filter: blur(100rem);
            backdrop-filter: blur(100rem);
    z-index: -1;
    
}

.background-circle {
    position: absolute;
    width: 1250rem;
    height: 1100rem;
    right: -400rem;
    //top: 20rem;
    bottom: 0;
    z-index: -3;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 1250rem;
        aspect-ratio: 1;
        background: linear-gradient($background, $cyan);
        border-radius: 50%;

    }
}

body .fslightbox-container {
    background: rgba($background, 0.8 );
     .fslightbox-nav {
        height: 70rem;
        .fslightbox-toolbar {
            background: none;
            border-bottom-left-radius: calc($roundness / 2);
            & > * {
                width: 70rem;
            }
            svg {
                width: 50rem;
                height: 50rem;
            }
        }
        .fslightbox-slide-number-container {
            width: 100rem;
            max-width: unset;
            & > div {
                width: 100%;
                font: $h3;
                .fslightbox-slash {
                    height: unset;
                    width: unset;
                    display: unset;
                    margin: 0;
                    background: unset;
                    transform: none;
                }
                .fslightbox-slash::after {
                    content: "/";
                }
            }
        }
     }
    .fslightbox-slide-btn-container {
        padding: 30rem;
        .fslightbox-slide-btn {
            background: none;
            border-radius: 50rem;
            padding: 0;
            svg {
                width: 50rem;
                height: 50rem;
            }
        }
    }
    .fslightbox-fade-in, .fslightbox-fade-in-strong, .fslightbox-fade-out, div[class=""] {
        height: calc(100% - 140rem);
        max-width: calc(100% - 220rem);
        img {
            height: 100% !important;
            width: 100% !important;
            object-fit: cover;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    padding: 50rem;
    gap: 50rem;
    width: 100%;

    .about-us {
        display: flex;
        flex-direction: column;
        gap: 10rem;
        width: 100%;
        p {width: 100%;}
    }

    .copyright {
        width: 100%;
        display: flex;
        gap: 50rem;
        align-items: center;
        justify-content: flex-start;
        .logo {
            height: 35rem;

        }
        .right {
            margin-left: auto;
        }
    }
}



.cursor-follower {
    position: fixed;
    width: 30vmax;
    aspect-ratio: 1;
    left: 50%;
    top: 50%;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(90deg, $cyan, $pink, $cyan);
    background-size: 200%;
    border-radius: 50%;
    translate: -50% -50%;
    z-index: -2;
    -webkit-animation: gradient 5s infinite linear;
            animation: gradient 5s infinite linear;
    
    transition: transform 2s linear( 0, 0.2688 9.91%, 0.3859 15%, 0.4917 20.19%, 0.5865 25.5%, 0.6705 30.93%, 0.7441 36.51%, 0.8075 42.26%, 0.8593 47.98%, 0.9022 53.93%, 0.9366 60.13%, 0.963 66.67%, 0.9812 73.4%, 0.9929 80.76%, 0.9986 88.89%, 1 );
}

@-webkit-keyframes rotate {
    0% {
        rotate: 0deg;
    }
    50% {
        scale: 1 1.2;
    }
    100% {
        rotate: 360deg;
    }
}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }
    50% {
        scale: 1 1.2;
    }
    100% {
        rotate: 360deg;
    }
}

@-webkit-keyframes gradient {
    from {
      background-position: 0;
    }
    to {
      background-position: 200%;
    }
}

@keyframes gradient {
    from {
      background-position: 0;
    }
    to {
      background-position: 200%;
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    body .fslightbox-container {
        .fslightbox-nav {
            height: unset;
            .fslightbox-toolbar {
                width: 100%;
                justify-content: space-between;
                .fslightbox-toolbar-button {
                    width: unset;
                    height: unset;
                    padding: 100rem 75rem;
                }
            }
            .fslightbox-slide-number-container {
                padding: 75rem 0;
                margin: auto;
            }
        }
        .fslightbox-slide-btn-container {
            display: none;
        }
        .fslightbox-fade-in, .fslightbox-fade-in-strong, .fslightbox-fade-out, div[class=""] {
            width: 100%;
            height: unset;
            max-width: unset;
            img {
                height: 100% !important;
                width: 100% !important;
            }
        }
    }
}