:root {
  --nav-height: clamp(-120px, -4vmax, -65px);
}

:root {
  font-size: calc((0.0520833333vw + 0.0925925926vh) / 2);
  color-scheme: dark;
}

* {
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, p, li {
  color: #FFF;
  padding: 0;
}

p {
  font: clamp(12px, 0.8vw, 25px) "Inter", sans-serif;
}

h1 {
  font: 90rem/1.15 "Poppins", sans-serif;
}

h2 {
  font: 60rem/1.15 "Poppins", sans-serif;
}

h3 {
  font: clamp(17px, 1.5vmax, 45px) "Poppins", sans-serif;
}

li {
  font: clamp(15px, 1vmax, 30px) "Inter", sans-serif;
}

html {
  min-height: 100%;
  position: relative;
  scroll-behavior: smooth;
  overflow-x: clip;
  /*scrollbar-width: normal;
  scrollbar-color: #fff3 $background;*/
}

body {
  margin: 0;
  background-color: #090920;
  overflow-x: clip;
  max-height: 100%;
}

i {
  font-size: 70rem;
  color: black;
}

button, .navbar a, .arrow, .navbar i {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: clamp(65px, 4vmax, 120px);
  display: grid;
  place-items: center;
  grid-template-columns: 20% 1fr 1fr 1fr 1fr 1fr 20%;
  transition: 0.6s ease-out;
  -webkit-backdrop-filter: blur(15rem);
  backdrop-filter: blur(15rem);
  z-index: 90;
  border-bottom: 1rem solid rgba(39, 206, 175, 0.2);
  background-color: transparent;
}
.navbar img, .navbar i {
  height: clamp(40px, 4vh, 7.5vmin);
  font-size: clamp(40px, 4vh, 7.5vmin);
}
.navbar a {
  font: clamp(17px, 1.5vmax, 45px) "Poppins", sans-serif;
  color: #FFF;
  text-decoration: none;
  display: inline;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  z-index: 10;
}
.navbar > a.active {
  text-decoration: underline;
  text-underline-offset: 5rem;
}
.navbar > a:hover {
  font-weight: 550;
  background-color: rgba(39, 206, 175, 0.2);
}
.navbar .menu-phone {
  display: none;
  /*height: 100%;
  width: 100%;*/
}
.navbar .menu-phone i {
  color: #FFF;
  cursor: pointer;
}
.navbar .menu-phone .menu {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  gap: 5rem;
  background-color: rgba(9, 9, 32, 0.7);
  position: absolute;
  right: 0;
  top: clamp(65px, 4vmax, 120px);
  width: 33%;
}
.navbar .menu-phone .menu a {
  padding: 25rem;
  min-width: 150rem;
}
.navbar .menu-phone .menu a:hover {
  font-weight: 500;
  background-color: rgba(39, 206, 175, 0.2);
}

@media screen and (max-aspect-ratio: 1.2/1) {
  .navbar {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .navbar .pc {
    display: none;
  }
  .navbar .menu-phone {
    display: inline;
  }
}
.filter {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../global/Random_static.png");
  background-repeat: repeat;
  -webkit-backdrop-filter: blur(100rem);
  backdrop-filter: blur(100rem);
  z-index: -1;
}

.background-circle {
  position: absolute;
  width: 1250rem;
  height: 1100rem;
  right: -400rem;
  bottom: 0;
  z-index: -3;
  overflow: hidden;
}
.background-circle::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1250rem;
  aspect-ratio: 1;
  background: linear-gradient(#090920, #27CEAF);
  border-radius: 50%;
}

body .fslightbox-container {
  background: rgba(9, 9, 32, 0.8);
}
body .fslightbox-container .fslightbox-nav {
  height: 70rem;
}
body .fslightbox-container .fslightbox-nav .fslightbox-toolbar {
  background: rgba(9, 9, 32, 0.4);
  border-bottom-left-radius: 10rem;
}
body .fslightbox-container .fslightbox-nav .fslightbox-toolbar > * {
  width: 70rem;
}
body .fslightbox-container .fslightbox-nav .fslightbox-toolbar svg {
  width: 50rem;
  height: 50rem;
}
body .fslightbox-container .fslightbox-nav .fslightbox-slide-number-container {
  width: 100rem;
  max-width: unset;
}
body .fslightbox-container .fslightbox-nav .fslightbox-slide-number-container > div {
  width: 100%;
  font: clamp(17px, 1.5vmax, 45px) "Poppins", sans-serif;
}
body .fslightbox-container .fslightbox-nav .fslightbox-slide-number-container > div .fslightbox-slash {
  height: unset;
  width: unset;
  display: unset;
  margin: 0;
  background: unset;
  transform: none;
}
body .fslightbox-container .fslightbox-nav .fslightbox-slide-number-container > div .fslightbox-slash::after {
  content: "/";
}
body .fslightbox-container .fslightbox-slide-btn-container {
  padding: 30rem;
}
body .fslightbox-container .fslightbox-slide-btn-container .fslightbox-slide-btn {
  background: rgba(9, 9, 32, 0.4);
  border-radius: 50rem;
}
body .fslightbox-container .fslightbox-slide-btn-container .fslightbox-slide-btn svg {
  width: 50rem;
  height: 50rem;
}
body .fslightbox-container .fslightbox-fade-in, body .fslightbox-container .fslightbox-fade-in-strong, body .fslightbox-container .fslightbox-fade-out, body .fslightbox-container div[class=""] {
  height: calc(100% - 140rem);
  max-width: calc(100% - 220rem);
}
body .fslightbox-container .fslightbox-fade-in img, body .fslightbox-container .fslightbox-fade-in-strong img, body .fslightbox-container .fslightbox-fade-out img, body .fslightbox-container div[class=""] img {
  height: 100% !important;
  width: 100% !important;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 50rem 100rem;
  gap: 100rem;
  width: 100%;
}
footer .about-us {
  display: flex;
  flex-direction: column;
  gap: 25rem;
  width: 100%;
}
footer .about-us p {
  width: 100%;
}
footer .copyright {
  width: 100%;
  display: flex;
  gap: 50rem;
  align-items: center;
  justify-content: flex-start;
}
footer .copyright .logo {
  height: 35rem;
}
footer .copyright .right {
  margin-left: auto;
}

.cursor-follower {
  position: fixed;
  width: 30vmax;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90deg, #27CEAF, #D800DB, #27CEAF);
  background-size: 200%;
  border-radius: 50%;
  translate: -50% -50%;
  z-index: -2;
  animation: gradient 5s infinite linear;
  transition: transform 2s linear(0, 0.2688 9.91%, 0.3859 15%, 0.4917 20.19%, 0.5865 25.5%, 0.6705 30.93%, 0.7441 36.51%, 0.8075 42.26%, 0.8593 47.98%, 0.9022 53.93%, 0.9366 60.13%, 0.963 66.67%, 0.9812 73.4%, 0.9929 80.76%, 0.9986 88.89%, 1);
}
@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.2;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes gradient {
  from {
    background-position: 0;
  }
  to {
    background-position: 200%;
  }
}/*# sourceMappingURL=styles.css.map */