@import "../global/glide.core.min.css";
@import "../global/glide.theme.min.css";
:root {
  --nav-height: clamp(-120px, -4vmax, -65px);
}

:root {
  font-size: calc((0.0520833333vw + 0.0925925926vh) / 2);
  color-scheme: dark;
}

* {
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, p, li {
  color: #FFF;
  padding: 0;
}

p {
  font: clamp(12px, 0.8vw, 25px) "Inter", sans-serif;
  line-height: 1.4em;
}

h1 {
  font: 90rem/1.15 "Poppins", sans-serif;
}

h2 {
  font: 60rem/1.15 "Poppins", sans-serif;
}

h3 {
  font: clamp(17px, 1.5vmax, 45px) "Poppins", sans-serif;
}

li {
  font: clamp(15px, 1vmax, 30px) "Inter", sans-serif;
}

ul {
  padding-inline-start: 40rem;
}

html {
  min-height: 100%;
  position: relative;
  scroll-behavior: smooth;
  overflow-x: clip;
  /*scrollbar-width: normal;
  scrollbar-color: #fff3 $background;*/
}

body {
  margin: 0;
  background-color: #090920;
  overflow-x: clip;
  max-height: 100%;
}

main {
  padding-top: clamp(65px, 4vmax, 120px);
}

img {
  height: 70rem;
  width: 70rem;
}

button, .navbar a, .arrow, .navbar i {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

iframe {
  width: 100vw;
  height: 100vh;
  max-height: 100svh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  border: none;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: clamp(65px, 4vmax, 120px);
  display: grid;
  place-items: center;
  grid-template-columns: 20% 1fr 1fr 1fr 1fr 1fr 20%;
  transition: 0.3s ease-out;
  -webkit-backdrop-filter: blur(15rem);
  backdrop-filter: blur(15rem);
  z-index: 90;
  background-color: transparent;
}
.navbar img {
  height: calc(clamp(65px, 4vmax, 120px) * 0.6);
  width: calc(clamp(65px, 4vmax, 120px) * 0.6);
}
.navbar .menu-trigger {
  filter: invert(100%);
}
.navbar a {
  font: clamp(17px, 1.5vmax, 45px) "Poppins", sans-serif;
  color: #FFF;
  text-decoration: none;
  display: inline;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  z-index: 10;
}
.navbar > a.active {
  text-decoration: underline;
  text-underline-offset: 5rem;
}
.navbar > a:hover {
  font-weight: 550;
  background-color: rgba(39, 206, 175, 0.2);
}
.navbar .menu-phone {
  display: none;
  /*height: 100%;
  width: 100%;*/
}
.navbar .menu-phone i {
  color: #FFF;
  cursor: pointer;
}
.navbar .menu-phone .menu {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  gap: 5rem;
  background-color: rgba(9, 9, 32, 0.7);
  position: absolute;
  right: 0;
  top: clamp(65px, 4vmax, 120px);
  width: 33%;
}
.navbar .menu-phone .menu a {
  padding: 25rem;
  min-width: 150rem;
}
.navbar .menu-phone .menu a:hover {
  background-color: rgba(39, 206, 175, 0.2);
}

@media screen and (max-aspect-ratio: 1.2/1) {
  .navbar {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .navbar .pc {
    display: none;
  }
  .navbar .menu-phone {
    display: inline;
  }
}
.filter {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: url("../global/Random_static.webp");
  background-repeat: repeat;
  -webkit-backdrop-filter: blur(100rem);
  backdrop-filter: blur(100rem);
  z-index: -1;
}

.background-circle {
  position: absolute;
  width: 1250rem;
  height: 1100rem;
  right: -400rem;
  bottom: 0;
  z-index: -3;
  overflow: hidden;
}
.background-circle::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1250rem;
  aspect-ratio: 1;
  background: linear-gradient(#090920, #27CEAF);
  border-radius: 50%;
}

body .fslightbox-container {
  background: rgba(9, 9, 32, 0.8);
}
body .fslightbox-container .fslightbox-nav {
  height: 70rem;
}
body .fslightbox-container .fslightbox-nav .fslightbox-toolbar {
  background: none;
  border-bottom-left-radius: 10rem;
}
body .fslightbox-container .fslightbox-nav .fslightbox-toolbar > * {
  width: 70rem;
}
body .fslightbox-container .fslightbox-nav .fslightbox-toolbar svg {
  width: 50rem;
  height: 50rem;
}
body .fslightbox-container .fslightbox-nav .fslightbox-slide-number-container {
  width: 100rem;
  max-width: unset;
}
body .fslightbox-container .fslightbox-nav .fslightbox-slide-number-container > div {
  width: 100%;
  font: clamp(17px, 1.5vmax, 45px) "Poppins", sans-serif;
}
body .fslightbox-container .fslightbox-nav .fslightbox-slide-number-container > div .fslightbox-slash {
  height: unset;
  width: unset;
  display: unset;
  margin: 0;
  background: unset;
  transform: none;
}
body .fslightbox-container .fslightbox-nav .fslightbox-slide-number-container > div .fslightbox-slash::after {
  content: "/";
}
body .fslightbox-container .fslightbox-slide-btn-container {
  padding: 30rem;
}
body .fslightbox-container .fslightbox-slide-btn-container .fslightbox-slide-btn {
  background: none;
  border-radius: 50rem;
  padding: 0;
}
body .fslightbox-container .fslightbox-slide-btn-container .fslightbox-slide-btn svg {
  width: 50rem;
  height: 50rem;
}
body .fslightbox-container .fslightbox-fade-in, body .fslightbox-container .fslightbox-fade-in-strong, body .fslightbox-container .fslightbox-fade-out, body .fslightbox-container div[class=""] {
  height: calc(100% - 140rem);
  max-width: calc(100% - 220rem);
}
body .fslightbox-container .fslightbox-fade-in img, body .fslightbox-container .fslightbox-fade-in-strong img, body .fslightbox-container .fslightbox-fade-out img, body .fslightbox-container div[class=""] img {
  height: 100% !important;
  width: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 50rem;
  gap: 50rem;
  width: 100%;
  box-shadow: 0 0 20rem rgba(0, 0, 0, 0.25);
}
footer .about-us {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  width: 100%;
}
footer .about-us p {
  width: 100%;
}
footer .about-us a {
  color: white;
}
footer .copyright {
  width: 100%;
  display: flex;
  gap: 50rem;
  align-items: center;
  justify-content: flex-start;
}
footer .copyright .logo {
  height: 35rem;
  width: 35rem;
}
footer .copyright .right {
  margin-left: auto;
}

.cursor-follower {
  position: fixed;
  width: 30vmax;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90deg, #27CEAF, #D800DB, #27CEAF);
  background-size: 200%;
  border-radius: 50%;
  translate: -50% -50%;
  z-index: -2;
  animation: gradient 5s infinite linear;
  transition: transform 2s linear(0, 0.2688 9.91%, 0.3859 15%, 0.4917 20.19%, 0.5865 25.5%, 0.6705 30.93%, 0.7441 36.51%, 0.8075 42.26%, 0.8593 47.98%, 0.9022 53.93%, 0.9366 60.13%, 0.963 66.67%, 0.9812 73.4%, 0.9929 80.76%, 0.9986 88.89%, 1);
}
@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.2;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes gradient {
  from {
    background-position: 0;
  }
  to {
    background-position: 200%;
  }
}
@media screen and (max-aspect-ratio: 1/1) {
  body .fslightbox-container .fslightbox-nav {
    height: unset;
  }
  body .fslightbox-container .fslightbox-nav .fslightbox-toolbar {
    width: 100%;
    justify-content: space-between;
  }
  body .fslightbox-container .fslightbox-nav .fslightbox-toolbar .fslightbox-toolbar-button {
    width: unset;
    height: unset;
    padding: 100rem 75rem;
  }
  body .fslightbox-container .fslightbox-nav .fslightbox-slide-number-container {
    padding: 75rem 0;
    margin: auto;
  }
  body .fslightbox-container .fslightbox-slide-btn-container {
    display: none;
  }
  body .fslightbox-container .fslightbox-fade-in, body .fslightbox-container .fslightbox-fade-in-strong, body .fslightbox-container .fslightbox-fade-out, body .fslightbox-container div[class=""] {
    width: 100%;
    height: unset;
    max-width: unset;
  }
  body .fslightbox-container .fslightbox-fade-in img, body .fslightbox-container .fslightbox-fade-in-strong img, body .fslightbox-container .fslightbox-fade-out img, body .fslightbox-container div[class=""] img {
    height: 100% !important;
    width: 100% !important;
  }
}
.pic-carousel {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  position: relative;
}
.pic-carousel .glide__slides {
  height: 100%;
}
.pic-carousel .glide__slides .glide__slide {
  height: 100%;
  width: 100%;
  padding: 25rem 0;
}
.pic-carousel .glide__slides .glide__slide > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.pic-carousel .glide__slides .glide__slide .prebuild-pic {
  height: 100%;
  width: 90%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform-origin: center;
  filter: drop-shadow(0 0 20rem rgba(0, 0, 0, 0.25));
  overflow: hidden;
}
.pic-carousel .glide__slides .glide__slide .prebuild-pic::before {
  display: block;
  position: absolute;
  content: none;
  width: 25%;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background: linear-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 209, 255, 0.8));
  border-radius: 50%;
  -webkit-mask-image: radial-gradient(transparent 45%, black 50%, black 60%, transparent 65%);
  mask-image: radial-gradient(transparent 45%, black 50%, black 60%, transparent 65%);
  animation: loading 2s linear infinite;
}
.pic-carousel .glide__slides .glide__slide .prebuild-pic.show-before::before {
  content: "";
}
.pic-carousel .glide__bullets {
  bottom: 10rem;
}
.pic-carousel.glide {
  max-width: 100%;
  height: 100%;
}
.pic-carousel .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  text-shadow: none;
  box-shadow: none;
}
.pic-carousel .arrow img {
  width: 30rem;
  height: 30rem;
}
.pic-carousel .arrow:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

body {
  background: none transparent !important;
}

.pc-details, .theme-prices {
  height: 100vh;
  width: 100vw;
  display: none;
  padding: 150rem;
  background: rgba(9, 9, 32, 0.6);
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
}
.pc-details .card, .theme-prices .card {
  height: 100%;
  width: 100%;
  max-height: 100svh;
  border-radius: 20rem;
  display: flex;
  padding: 25rem;
  gap: 25rem;
  z-index: 2;
  box-shadow: 0 0 20rem rgba(0, 0, 0, 0.25);
  --accent: #f00;
  background-color: #f00;
}
.pc-details .card > *, .theme-prices .card > * {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25rem;
}
.pc-details .card .info .components, .theme-prices .card .info .components {
  width: 100%;
  flex-grow: 1;
  border-radius: 20rem;
  display: flex;
  flex-direction: column;
  gap: 25rem;
  padding: 25rem;
  background: rgba(9, 9, 32, 0.4);
}
.pc-details .card .info .components h3, .theme-prices .card .info .components h3 {
  text-align: center;
}
.pc-details .card .top, .theme-prices .card .top {
  display: flex;
}
.pc-details .card .top .cross, .theme-prices .card .top .cross {
  height: 100%;
  aspect-ratio: 1;
  display: none;
  justify-content: center;
  align-items: center;
}
.pc-details .card .top .cross img, .theme-prices .card .top .cross img {
  height: 70rem;
  width: 70rem;
}
.pc-details .card .title, .theme-prices .card .title {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding: 25rem;
  background: var(--accent);
  border-radius: 20rem;
  border: 5rem solid black;
  box-shadow: 0 0 20rem rgba(0, 0, 0, 0.25);
}
.pc-details .card .title > *, .theme-prices .card .title > * {
  color: black;
}
.pc-details .close, .theme-prices .close {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
}
.pc-details .close img, .theme-prices .close img {
  width: 40rem;
  height: 40rem;
}
.pc-details .cross img, .theme-prices .cross img {
  width: 50rem;
  height: 50rem;
  padding: 5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pc-details .cross img:hover, .theme-prices .cross img:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.pc-details .card {
  flex-direction: row-reverse;
}
.pc-details .card .info .pay {
  width: 100%;
  display: flex;
  gap: 25rem;
  align-items: center;
}
.pc-details .card .info .pay h3 {
  color: black;
}
.pc-details .card .info .pay button {
  flex-grow: 1;
  height: 100%;
  background: var(--accent);
  border-radius: 20rem;
  border: 5rem solid black;
  padding: 15rem;
  box-shadow: 0 0 20rem rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
}
.pc-details .card .info .pay button img {
  width: 35rem;
  height: 35rem;
}
.pc-details .card .case .pic-container {
  height: 100%;
  width: 100%;
}
.pc-details .card .case .pic-container .img {
  height: 100%;
  width: auto;
  background-image: url("../global/default.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform-origin: center;
  border-radius: 20rem;
  filter: drop-shadow(0 0 20rem rgba(0, 0, 0, 0.25));
}

.theme-prices .carousel-container {
  height: 100%;
}
.theme-prices .examples-text {
  margin: 0 auto;
  font: clamp(15px, 1vmax, 30px) "Inter", sans-serif;
  font-weight: 700;
}
.theme-prices .info .buttons {
  display: flex;
  gap: 25rem;
}
.theme-prices .info .buttons button {
  width: 100%;
  background: var(--accent);
  border-radius: 20rem;
  border: 5rem solid black;
  color: black;
  padding: 15rem;
  box-shadow: 0 0 20rem rgba(0, 0, 0, 0.25);
  font: clamp(17px, 1.5vmax, 45px) "Poppins", sans-serif;
  transition: 300ms;
}

@media screen and (min-aspect-ratio: 2.2/1) {
  .pc-details, .theme-prices {
    padding: 75rem;
  }
}
@media screen and (min-aspect-ratio: 2.35/1) and (max-width: 2300px) {
  .pc-details, .theme-prices {
    padding: 0rem;
  }
  .pc-details .card .top .cross, .theme-prices .card .top .cross {
    display: flex;
  }
}
@media screen and (max-aspect-ratio: 1/1) {
  .pc-details, .theme-prices {
    padding: 0;
    background: black;
  }
  .pc-details .card, .theme-prices .card {
    flex-direction: column;
  }
  .pc-details .card > *, .theme-prices .card > * {
    width: 100%;
  }
  .pc-details .card .top .cross, .theme-prices .card .top .cross {
    display: flex;
  }
  .theme-prices .card {
    flex-direction: column-reverse;
  }
}/*# sourceMappingURL=styles.css.map */