@charset "UTF-8";
:root {
  --nav-height: clamp(-120px, -4vmax, -65px);
}

:root {
  font-size: calc((0.0520833333vw + 0.0925925926vh) / 2);
  color-scheme: dark;
}

* {
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, p, li {
  color: #FFF;
  padding: 0;
}

p {
  font: clamp(12px, 0.8vw, 25px) "Inter", sans-serif;
  line-height: 1.4em;
}

h1 {
  font: 90rem/1.15 "Poppins", sans-serif;
}

h2 {
  font: 60rem/1.15 "Poppins", sans-serif;
}

h3 {
  font: clamp(17px, 1.5vmax, 45px) "Poppins", sans-serif;
}

li {
  font: clamp(15px, 1vmax, 30px) "Inter", sans-serif;
}

ul {
  padding-inline-start: 40rem;
}

html {
  min-height: 100%;
  position: relative;
  scroll-behavior: smooth;
  overflow-x: clip;
  /*scrollbar-width: normal;
  scrollbar-color: #fff3 $background;*/
}

body {
  margin: 0;
  background-color: #090920;
  overflow-x: clip;
  max-height: 100%;
}

main {
  padding-top: clamp(65px, 4vmax, 120px);
}

img {
  height: 70rem;
  width: 70rem;
}

button, .navbar a, .arrow, .navbar i {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

iframe {
  width: 100vw;
  height: 100vh;
  max-height: 100svh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  border: none;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: clamp(65px, 4vmax, 120px);
  display: grid;
  place-items: center;
  grid-template-columns: 20% 1fr 1fr 1fr 1fr 1fr 20%;
  transition: 0.3s ease-out;
  -webkit-backdrop-filter: blur(15rem);
  backdrop-filter: blur(15rem);
  z-index: 90;
  background-color: transparent;
}
.navbar img {
  height: calc(clamp(65px, 4vmax, 120px) * 0.6);
  width: calc(clamp(65px, 4vmax, 120px) * 0.6);
}
.navbar .menu-trigger {
  filter: invert(100%);
}
.navbar a {
  font: clamp(17px, 1.5vmax, 45px) "Poppins", sans-serif;
  color: #FFF;
  text-decoration: none;
  display: inline;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  z-index: 10;
}
.navbar > a.active {
  text-decoration: underline;
  text-underline-offset: 5rem;
}
.navbar > a:hover {
  font-weight: 550;
  background-color: rgba(39, 206, 175, 0.2);
}
.navbar .menu-phone {
  display: none;
  /*height: 100%;
  width: 100%;*/
}
.navbar .menu-phone i {
  color: #FFF;
  cursor: pointer;
}
.navbar .menu-phone .menu {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  gap: 5rem;
  background-color: rgba(9, 9, 32, 0.7);
  position: absolute;
  right: 0;
  top: clamp(65px, 4vmax, 120px);
  width: 33%;
}
.navbar .menu-phone .menu a {
  padding: 25rem;
  min-width: 150rem;
}
.navbar .menu-phone .menu a:hover {
  background-color: rgba(39, 206, 175, 0.2);
}

@media screen and (max-aspect-ratio: 1.2/1) {
  .navbar {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .navbar .pc {
    display: none;
  }
  .navbar .menu-phone {
    display: inline;
  }
}
.filter {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: url("../global/Random_static.webp");
  background-repeat: repeat;
  -webkit-backdrop-filter: blur(100rem);
  backdrop-filter: blur(100rem);
  z-index: -1;
}

.background-circle {
  position: absolute;
  width: 1250rem;
  height: 1100rem;
  right: -400rem;
  bottom: 0;
  z-index: -3;
  overflow: hidden;
}
.background-circle::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1250rem;
  aspect-ratio: 1;
  background: linear-gradient(#090920, #27CEAF);
  border-radius: 50%;
}

body .fslightbox-container {
  background: rgba(9, 9, 32, 0.8);
}
body .fslightbox-container .fslightbox-nav {
  height: 70rem;
}
body .fslightbox-container .fslightbox-nav .fslightbox-toolbar {
  background: none;
  border-bottom-left-radius: 10rem;
}
body .fslightbox-container .fslightbox-nav .fslightbox-toolbar > * {
  width: 70rem;
}
body .fslightbox-container .fslightbox-nav .fslightbox-toolbar svg {
  width: 50rem;
  height: 50rem;
}
body .fslightbox-container .fslightbox-nav .fslightbox-slide-number-container {
  width: 100rem;
  max-width: unset;
}
body .fslightbox-container .fslightbox-nav .fslightbox-slide-number-container > div {
  width: 100%;
  font: clamp(17px, 1.5vmax, 45px) "Poppins", sans-serif;
}
body .fslightbox-container .fslightbox-nav .fslightbox-slide-number-container > div .fslightbox-slash {
  height: unset;
  width: unset;
  display: unset;
  margin: 0;
  background: unset;
  transform: none;
}
body .fslightbox-container .fslightbox-nav .fslightbox-slide-number-container > div .fslightbox-slash::after {
  content: "/";
}
body .fslightbox-container .fslightbox-slide-btn-container {
  padding: 30rem;
}
body .fslightbox-container .fslightbox-slide-btn-container .fslightbox-slide-btn {
  background: none;
  border-radius: 50rem;
  padding: 0;
}
body .fslightbox-container .fslightbox-slide-btn-container .fslightbox-slide-btn svg {
  width: 50rem;
  height: 50rem;
}
body .fslightbox-container .fslightbox-fade-in, body .fslightbox-container .fslightbox-fade-in-strong, body .fslightbox-container .fslightbox-fade-out, body .fslightbox-container div[class=""] {
  height: calc(100% - 140rem);
  max-width: calc(100% - 220rem);
}
body .fslightbox-container .fslightbox-fade-in img, body .fslightbox-container .fslightbox-fade-in-strong img, body .fslightbox-container .fslightbox-fade-out img, body .fslightbox-container div[class=""] img {
  height: 100% !important;
  width: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 50rem;
  gap: 50rem;
  width: 100%;
  box-shadow: 0 0 20rem rgba(0, 0, 0, 0.25);
}
footer .about-us {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  width: 100%;
}
footer .about-us p {
  width: 100%;
}
footer .about-us a {
  color: white;
}
footer .copyright {
  width: 100%;
  display: flex;
  gap: 50rem;
  align-items: center;
  justify-content: flex-start;
}
footer .copyright .logo {
  height: 35rem;
  width: 35rem;
}
footer .copyright .right {
  margin-left: auto;
}

.cursor-follower {
  position: fixed;
  width: 30vmax;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90deg, #27CEAF, #D800DB, #27CEAF);
  background-size: 200%;
  border-radius: 50%;
  translate: -50% -50%;
  z-index: -2;
  animation: gradient 5s infinite linear;
  transition: transform 2s linear(0, 0.2688 9.91%, 0.3859 15%, 0.4917 20.19%, 0.5865 25.5%, 0.6705 30.93%, 0.7441 36.51%, 0.8075 42.26%, 0.8593 47.98%, 0.9022 53.93%, 0.9366 60.13%, 0.963 66.67%, 0.9812 73.4%, 0.9929 80.76%, 0.9986 88.89%, 1);
}
@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.2;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes gradient {
  from {
    background-position: 0;
  }
  to {
    background-position: 200%;
  }
}
@media screen and (max-aspect-ratio: 1/1) {
  body .fslightbox-container .fslightbox-nav {
    height: unset;
  }
  body .fslightbox-container .fslightbox-nav .fslightbox-toolbar {
    width: 100%;
    justify-content: space-between;
  }
  body .fslightbox-container .fslightbox-nav .fslightbox-toolbar .fslightbox-toolbar-button {
    width: unset;
    height: unset;
    padding: 108rem 83rem;
  }
  body .fslightbox-container .fslightbox-nav .fslightbox-slide-number-container {
    padding: 75rem 0;
    margin: auto;
  }
  body .fslightbox-container .fslightbox-slide-btn-container {
    display: none;
  }
  body .fslightbox-container .fslightbox-fade-in, body .fslightbox-container .fslightbox-fade-in-strong, body .fslightbox-container .fslightbox-fade-out, body .fslightbox-container div[class=""] {
    width: 100%;
    height: unset;
    max-width: unset;
  }
  body .fslightbox-container .fslightbox-fade-in img, body .fslightbox-container .fslightbox-fade-in-strong img, body .fslightbox-container .fslightbox-fade-out img, body .fslightbox-container div[class=""] img {
    height: 100% !important;
    width: 100% !important;
  }
}
.navbar .about-us {
  text-decoration: underline;
  text-underline-offset: 5rem;
}

.intro {
  padding: 50rem 150rem;
  display: flex;
  flex-direction: row;
  gap: 100rem;
}
.intro .text {
  display: flex;
  flex-direction: column;
  gap: 50rem;
  flex: 1;
  min-width: 75%;
}
.intro .logo {
  flex-grow: 1;
  color: #00D1FF;
  animation: color-change 20s linear infinite;
}
.intro .logo svg {
  width: 100%;
  height: 100%;
}

.content {
  padding: 50rem;
}
.content h2 {
  margin: 50rem auto;
  width: -moz-fit-content;
  width: fit-content;
}
.content strong {
  font: clamp(15px, 1vmax, 30px) "Inter", sans-serif;
  font-weight: bold;
}
.content .cards {
  width: 100%;
  display: flex;
  gap: 50rem;
}
.content .card-title {
  padding: 0 10rem;
}
.content .card-title h3 {
  margin-bottom: 5rem;
  font-weight: bold;
  letter-spacing: 2rem;
}
.content .card-title p {
  margin-top: 10rem;
}
.content .card {
  display: flex;
  gap: 15rem;
  flex-direction: column;
  width: 100%;
  padding: 25rem 15rem;
  border-radius: 20rem;
  box-shadow: 0 0 20rem rgba(0, 0, 0, 0.25);
}
.content .card.custom {
  background-color: rgba(39, 206, 175, 0.3);
}
.content .card.custom .signs-pic {
  display: flex;
  gap: 15rem;
  height: -moz-fit-content;
  height: fit-content;
}
.content .card.custom .signs-pic .signs {
  display: flex;
  gap: 15rem;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
.content .card.custom .signs-pic a {
  height: 100%;
  width: 66%;
}
.content .card.custom .signs-pic a .about-us-pc {
  background: url("../pc-examples/about-us-pc.webp");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10rem;
  box-shadow: 0 0 20rem rgba(0, 0, 0, 0.25);
}
.content .card.custom .filler {
  background-image: url("./about-us-filler.webp");
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  margin: 0 10rem;
  flex: 1;
  border-radius: 10rem;
}
.content .card.prebuilds {
  background-color: rgba(216, 0, 219, 0.3);
}
.content .card.prebuilds .sign {
  cursor: pointer;
}
.content .card.values {
  margin-top: 50rem;
  background-color: rgba(0, 209, 255, 0.3);
}
.content .sign {
  padding: 10rem;
  border-radius: 5rem;
  box-shadow: 0 0 20rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateY(50rem);
}
.content .sign p {
  padding: 10rem 0 0 5rem;
}
.content .sign::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  z-index: -1;
  border-radius: 5rem;
  transition: 0.3s;
}
.content .sign:hover::before {
  opacity: 1;
}
.content .sign.looks::before, .content .sign.rgb::before {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./about-us-filler.webp");
  background-size: cover;
  background-position: center;
}
.content .sign.price::before, .content .sign.pure::before {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../pc-examples/1-pure.webp");
  background-size: cover;
  background-position: 40% 58%;
  background-size: 150%;
}
.content .sign.specs::before, .content .sign.white::before {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../pc-examples/1-white.webp");
  background-size: cover;
  background-position: 52% 43%;
  background-size: 150%;
}
.content .sign.graphics::before {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../pc-examples/4-rgb.webp");
  background-size: cover;
  background-position: 10% 56%;
  background-size: 200%;
}
.content .sign.mini::before {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../pc-examples/5-mini.webp");
  background-size: cover;
  background-position: 25% 50%;
  background-size: 200%;
}
.content .sign.normal::before {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../pc-examples/3-normal.webp");
  background-size: cover;
  background-position: 61% 38%;
  background-size: 170%;
}
.content > h3 {
  margin: 80rem 0 20rem;
}
.content ul li::marker {
  content: "✔ ";
}
.content ul li + li {
  margin-top: 20rem;
}

@keyframes color-change {
  from {
    color: #00D1FF;
  }
  10% {
    color: #00D1FF;
  }
  15% {
    color: transparent;
  }
  20% {
    color: #D800DB;
  }
  30% {
    color: #D800DB;
  }
  35% {
    color: transparent;
  }
  40% {
    color: #27CEAF;
  }
  50% {
    color: #27CEAF;
  }
  55% {
    color: transparent;
  }
  60% {
    color: #3F38FF;
  }
  70% {
    color: #3F38FF;
  }
  75% {
    color: transparent;
  }
  80% {
    color: #88e;
  }
  90% {
    color: #88e;
  }
  95% {
    color: transparent;
  }
  100% {
    color: #00D1FF;
  }
}
.background-circle-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -3;
  overflow: clip;
}

@media screen and (max-aspect-ratio: 4/5) {
  body .intro {
    padding: 25rem 75rem;
    flex-direction: column;
  }
  body .intro .logo {
    max-width: 30%;
    margin: 0 auto;
  }
  body .content .cards {
    flex-direction: column;
  }
  body .content .cards .card.custom .signs-pic a {
    width: 0%;
  }
}/*# sourceMappingURL=styles.css.map */