@use "../global/styles" as s;

.navbar .order {
  text-decoration: underline;
  text-underline-offset: 5rem;
}
.title {
  margin-top: s.$navbar-height;
  display: flex;
  flex-direction: column;
  padding: 50rem 75rem;
  gap: 25rem;
}
.inline {
  display: flex;
  gap: 10rem;
  align-items: center;
}
.content {
  display: flex;
  width: 100%;
  position: relative;
  padding: 25rem;
  gap: 25rem;
  form {
    display: flex;
    flex-direction: column;
    gap: 25rem;
    width: 100%;
    background: rgba(s.$cyan, 0.4);
    padding: 25rem;
    border-radius: s.$roundness;
    box-shadow: s.$shadow;
    .pair {
      display: flex;
      flex-direction: column;
      gap: 10rem;
      input, textarea {
        background: rgba(white, 0.2);
        border: none;
        border-radius: calc(s.$roundness / 3);
        resize: none;
        font: s.$p;
        padding-left: 10rem;
      }
      input {
        height: calc(2 * clamp(12px, 0.8vw, 25px));
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        &[type=number] {
          width: 150rem;
          appearance: none;
          -moz-appearance: textfield;
        }
        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus, 
        &:-webkit-autofill:active{
            -webkit-background-clip: text;
            -webkit-text-fill-color: #ffffff;
            transition: background-color 5000s ease-in-out 0s;
            box-shadow: inset 0 0 20px 20px rgba(white, 0.2);
        }
      }
      textarea {
        //height: calc(2.55 * clamp(12px, 0.8vw, 25px) + 20rem);
        //height: fit-content;
        padding-top: 10rem;
        //padding-left: 10rem;
      }
      .radios {
        display: flex;
        gap: 10rem;
      }
    }
    button {
      text-align: center;
      font: s.$button;
      padding: 20rem 40rem;
      border-radius: s.$roundness;
      border: 3rem solid transparent;
      color: s.$text;
      // transition: 1s linear;
      position: relative;
      width: fit-content;

      --tint: 50%;
      background: 
        //background:
        linear-gradient(rgba(s.$background, var(--tint)), rgba(s.$background, var(--tint))),
        linear-gradient(s.$background calc(var(--tint) - 50%), transparent),
        linear-gradient(100deg, s.$pink, s.$light-blue),
        //border:
        
        linear-gradient(rgba(s.$background, calc(var(--tint) + 40%)), transparent),
        linear-gradient(100deg, s.$pink, s.$light-blue);
      box-shadow: inset 0 0 30rem rgba(s.$blue, 0.25);
      background-clip: padding-box, padding-box, padding-box, border-box, border-box;
      background-origin: border-box;
    }
  }

  .pc-showcase {
    width: 100%;
    flex-grow: 1;
    border-radius: s.$roundness;
    position: relative;
    overflow: clip;
    background: rgba(black, 0.5);
    box-shadow: s.$shadow;
    /*.blured {
      position: absolute;
      left: -5%;
      top: -5%;
      width: 110%;
      height: 110%;
      object-fit: cover;
      opacity: 0.5;
      filter: blur(10rem);
    }
    .focused {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }*/
    span, h2 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 100rem;
      color: white;
    }
    h2 {
      top: 35%;
    }
    .gallery {
      width: 130%;
      height: 130%;
      position: absolute;
      border-radius: s.$roundness;
      left: -15%;
      top: -15%;

      display: flex;
      flex-wrap: wrap;  
      gap: 20rem;
      
      z-index: -1;
      
      .spacer {
        width:  10rem;
        height:  calc(20% - 20rem);
      }
      
      .tile {
        width:  calc(20% - 40rem);
        height:  calc(20% - 20rem);
        
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10rem;
          background: rgba(black, 0.5);
        }
      }
    }
    /*.gallery {
      width: 130%;
      height: 130%;
      position: absolute;
      //background: #abc;
      border-radius:  30px;
      left: -10%;
      top: -10%;
      z-index: -1;
      .tile {
        position: absolute;
        
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
          box-shadow: s.$shadow;
          background: rgba(black, 0.5);
        }
        
        &:nth-child(1) {
          width: 12%;
          height: 23%;
          left: 6%;
          top: 8%;
        }
        &:nth-child(2) {
          width: 21%;
          height: 20%;
          left: 80%;
          top: 80%;
        }
        &:nth-child(3) {
          width: 17%;
          height: 15%;
          left: 51%;
          top: 7%;
        }
        &:nth-child(4) {
          width: 17%;
          height: 22%;
          left: 78%;
          top: 9%;
        }
        &:nth-child(5) {
          width: 14%;
          height: 20%;
          left: 8%;
          top: 45%;
        }
        &:nth-child(6) {
          width: 14%;
          height: 14%;
          left: 30%;
          top: 32%;
        }
        &:nth-child(7) {
          width: 23%;
          height: 19%;
          left: 52%;
          top: 85%;
        }
        &:nth-child(8) {
          width: 17%;
          height: 13%;
          left: 33%;
          top: 59%;
        }
        &:nth-child(9) {
          width: 12%;
          height: 10%;
          left: 59%;
          top: 54%;
        }
        &:nth-child(10) {
          width: 12%;
          height: 18%;
          left: 81%;
          top: 43%;
        }
        &:nth-child(11) {
          width: 14%;
          height: 11%;
          left: 6%;
          top: 78%;
        }
        &:nth-child(12) {
          width: 21%;
          height: 14%;
          left: 30%;
          top: 81%;
        }
        &:nth-child(13) {
          width: 23%;
          height: 22%;
          left: 64%;
          top: 72%;
        }
        &:nth-child(14) {
          width: 16%;
          height: 17%;
          left: 15%;
          top: 28%;
        }
        &:nth-child(15) {
          width: 17%;
          height: 15%;
          left: 62%;
          top: 22%;
        }
        &:nth-child(16) {
          width: 17%;
          height: 15%;
          left: 41%;
          top: 67%;
        }
        &:nth-child(17) {
          width: 15%;
          height: 21%;
          left: 15%;
          top: 58%;
        }
        &:nth-child(18) {
          width: 14%;
          height: 14%;
          left: 41%;
          top: 20%;
        }
        &:nth-child(19) {
          width: 23%;
          height: 19%;
          left: 37%;
          top: 41%;
          
        }
        &:nth-child(20) {
          width: 17%;
          height: 13%;
          left: 78%;
          top: 66%;
        }
        &:nth-child(21) {
          width: 11%;
          height: 11%;
          left: 64%;
          top: 35%;
        }
        &:nth-child(22) {
          width: 11%;
          height: 12%;
          left: 20%;
          top: 10%;
        }
      }
    }*/
  }
}

footer {
  box-shadow: s.$shadow;
}


//W3S TOGGLE SLIDER SWITCH
/* The switch - the box around the slider */
$size: 1.5;
.switch {
  position: relative;
  display: inline-block;
  width: calc(30rem * $size);
  height: calc(17rem * $size);   
}
  
  /* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(white, 0.2);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(13rem * $size);
  width: calc(13rem * $size);
  left: calc(2rem * $size);
  bottom: calc(2rem * $size);
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: s.$cyan;
}

input:focus + .slider {
  box-shadow: 0 0 calc(1rem * $size) s.$cyan;
}

input:checked + .slider:before {
  -webkit-transform: translateX(calc(13rem * $size));
  -ms-transform: translateX(calc(13rem * $size));
  transform: translateX(calc(13rem * $size));
}

/* Rounded sliders */
.slider.round {
  border-radius: calc(17rem * $size);
}

.slider.round:before {
  border-radius: 50%;
}





@media screen and (max-aspect-ratio: 1/1) {
  .content {
    flex-direction: column;
    height: 120vh;
    .pc-showcase {
      height: 100%;
      width: 100%;
    }
  }
}